---
layout: default
title: "Team"
description: "People in the lab"
group: navigation
navorder: 2
---
{% include JB/setup %}


<div class="bigspacer"></div>
{% assign current_team = site.categories.team | where: "alum","false"%}
{% assign memberindex = 0 %}
{% for member in current_team reversed %}
	{% assign memberindex = memberindex | plus: 1 %}
	{% assign colindex = memberindex | modulo: 3 %}
	{% if colindex == 1 %} <!-- opening of a new row -->
	<div class="row">
	{% endif %}
	<div class="col-md-4 memberbox">
		<div class="media">
				<a class="pull-left" href="{{ member.url }}">
				<img class="media-object member-photo team-member-images" src="{{ member.image }}">
				</a>
			 	<div class="media-body">
				<div class="head media-heading member-name"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
				<p class="note">{{ member.position }}</p>
				</div>
		</div>
    </div>	  
	{% if colindex == 0 %} <!-- closing a row -->
	</div><div class="bigspacer"></div>
	{% endif %}
{% endfor %}
{% if colindex != 0 %} <!-- close last open row -->
</div><div class="bigspacer"></div>
{% endif %}

<div class="bigspacer"></div>
<hr/>

<div class="row">
	<div class="col-md-12">
		<img class="team-photo" src="/assets/images/team/Saeed-lab-2024.jpg"/>
		<img class="team-photo" src="/assets/images/team/Saeed-lab-2024-2.jpg"/>
	</div>
</div>

<a href="/assets/images/team/group_2015.jpg">Lab 2015 | </a> 
<a href="/assets/images/team/group_2016.jpg">Lab 2016 | </a> 
<a href="/assets/images/team/group_2017.jpg">Lab 2017 | </a>
<a href="/assets/images/team/group_2018.jpg">Lab 2018 | </a>
<a href="/assets/images/team/group_2019.jpg">Lab 2019 | </a>
<a href="/assets/images/team/Saeed-lab-2024.jpg">Lab 2024</a>


<div class="bigspacer"></div>
<hr/>
<div class="bigtitle text-center">Research Trainee Alumni Placement</div>
<div class="bigspacer"></div>


<!-- Start of Alumni Placement Table  -->
<table style="border-color: #000000;" border="1" width="1103" cellspacing="0" cellpadding="0"><colgroup><col width="208" /><col width="130" /><col width="235" /><col width="255" /><col width="274" /></colgroup>
<tbody>
<tr>
<td class="oa1" width="208" height="39">
<p><strong>Postdoc and MS/PhD Students </strong></p>
</td>
<td class="oa1" width="130">
<p><strong>Year of graduation</strong></p>
</td>
<td class="oa1" width="235">
<p><strong>Focus area</strong></p>
</td>
<td class="oa1" width="255">
<p><strong>First Position</strong></p>
</td>
<td class="oa1" width="274">
<p><strong>Last known Position</strong></p>
</td>
</tr>
<tr>
<td class="oa2" width="208" height="39">
<p><a href="https://www.union.edu/ecbe/faculty-staff/umair-mohammad"><u>Muhammad Umair</u></a></p>
</td>
<td class="oa2" width="130">
<p>2025</p>
</td>
<td class="oa2" width="235">
<p>ML for Neuroscience</p>
</td>
<td class="oa2" width="255">
<p>Union College, Schenectady, N.Y. (TT Faculty)</p>
</td>
<td class="oa2" width="274">
<p>Union College, Schenectady, N.Y. (TT Faculty)</p>
</td>
</tr>
<tr>
<td class="oa3" width="208" height="39">
<p><u><a href="https://www.linkedin.com/in/usman095/">Usman Tariq</a></u></p>
</td>
<td class="oa3" width="130">
<p>2023</p>
</td>
<td class="oa3" width="235">
<p>ML for Proteomics</p>
</td>
<td class="oa3" width="255">
<p>Facebook</p>
</td>
<td class="oa3" width="274">
<p>Facebook (ML scientist)</p>
</td>
</tr>
<tr>
<td class="oa3" width="208" height="39">
<p><u><a href="https://www.researchgate.net/profile/Oswaldo-Artiles">Oswaldo Artiles</a></u></p>
</td>
<td class="oa3" width="130">
<p>2023</p>
</td>
<td class="oa3" width="235">
<p>ML for Neuroscience</p>
</td>
<td class="oa3" width="255">
<p>Postdoc FIU</p>
</td>
<td class="oa3" width="274">
<p>Postdoc FIU</p>
</td>
</tr>
<tr>
<td class="oa3" width="208" height="39">
<p><u><a href="https://www.haseebm.com/">Muhammad Haseeb</a></u></p>
</td>
<td class="oa3" width="130">
<p>2023</p>
</td>
<td class="oa3" width="235">
<p>HPC for Proteomics</p>
</td>
<td class="oa3" width="255">
<p>UC Berkeley</p>
</td>
<td class="oa3" width="274">
<p>NVIDIA (HPC Software Engineer)</p>
</td>
</tr>
<tr>
<td class="oa3" width="208" height="39">
<p><u><a href="https://scholar.google.com/citations?user=itBaEjYAAAAJ&amp;hl=en">Taban Eslami</a></u></p>
</td>
<td class="oa3" width="130">
<p>2020</p>
</td>
<td class="oa3" width="235">
<p>ML for Neuroscience</p>
</td>
<td class="oa3" width="255">
<p>Zeiss</p>
</td>
<td class="oa3" width="274">
<p>Apple Inc (ML Engineer)</p>
</td>
</tr>
<tr>
<td class="oa2" width="208" height="39">
<p><u><a href="https://www.nersc.gov/about/nersc-staff/application-performance/muaaz-awan/">Muaaz Gul Awan</a></u></p>
</td>
<td class="oa2" width="130">
<p>2019</p>
</td>
<td class="oa2" width="235">
<p>HPC for proteomics</p>
</td>
<td class="oa2" width="255">
<p>UC Berkeley</p>
</td>
<td class="oa2" width="274">
<p>Berkeley Labs (staff scientist)</p>
</td>
</tr>
<tr>
<td class="oa2" width="208" height="39">
<p><u><a href="http://www.sandinovargasperez.com/">Sandino Vargas-Perez</a></u></p>
</td>
<td class="oa2" width="130">
<p>2017</p>
</td>
<td class="oa2" width="235">
<p>High performance Computing</p>
</td>
<td class="oa2" width="255">
<p>Kalamazoo College</p>
</td>
<td class="oa2" width="274">
<p>Kalamazoo College (TT Faculty)</p>
</td>
</tr>
<tr>
<td class="oa2" width="208" height="34">
<p><u><a href="https://scholar.google.com/citations?user=6mSbTDgAAAAJ&amp;hl=en">Mohammed Aledhari</a></u></p>
</td>
<td class="oa2" width="130">
<p>2017</p>
</td>
<td class="oa2" width="235">
<p>Machine-learning for biology</p>
</td>
<td class="oa2" width="255">
<p>Kennesaw state university (TT faculty)</p>
</td>
<td class="oa2" width="274">
<p>University of North Texas (TT Faculty)</p>
</td>
</tr>
<tr>
<td class="oa2" width="208" height="34">
<p><u><a href="https://www.franklin.edu/about-us/faculty-staff/faculty-profiles/abu-shattal-mohammad">Mohammad Abu Shattal </a></u></p>
</td>
<td class="oa2" width="130">
<p>2017</p>
</td>
<td class="oa2" width="235">
<p>Complex Networks</p>
</td>
<td class="oa2" width="255">
<p>Ohio State University (Postdoc)</p>
</td>
<td class="oa2" width="274">
<p>Franklin University, Ohio (TT Faculty)</p>
</td>
</tr>
</tbody>
</table>

<!-- End of Alumni Placement Table-->


<div class="bigspacer"></div>
<hr/>
<div class="bigtitle text-center">Alumni</div>
<div class="bigspacer"></div>


<div class="bigspacer"></div>

{% assign alumni = site.categories.team | where: "alum","true"%}
{% assign memberindex = 0 %}
{% for member in alumni %}
	{% assign memberindex = memberindex | plus: 1 %}
	{% assign colindex = memberindex | modulo: 3 %}
	{% if colindex == 1 %} <!-- opening of a new row -->
	<div class="row">
	{% endif %}
	<div class="col-md-4 memberbox">
		<div class="media">
				<a class="pull-left" href="{{ member.url }}">
				<img class="media-object member-photo team-member-images" src="{{ member.image }}" style="width:200px;height: 300px; object-fit:cover;">
				</a>
			 	<div class="media-body">
				<div class="head media-heading member-name"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
				<p class="note">{{ member.position }}</p>
				</div>
		</div>
    </div>	  
	{% if colindex == 0 %} <!-- closing a row -->
	</div><div class="bigspacer"></div>
	{% endif %}
{% endfor %}
{% if colindex != 0 %} <!-- close last open row -->
</div><div class="bigspacer"></div>
{% endif %}
